@import './SharedStyles.css';

.leccion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.leccion-emoji {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.leccion-nombre {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .leccion-emoji {
    font-size: 3rem;
  }

  .leccion-nombre {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .leccion-emoji {
    font-size: 2.5rem;
  }

  .leccion-nombre {
    font-size: 1rem;
  }
}