@import './SharedStyles.css';

/* Estilos generales para la página de restablecimiento de contraseña */
.reset-password-page {
  position: relative;
  overflow: hidden;
  padding: 2.5rem 1.25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, var(--background-color), var(--secondary-color));
}

/* Contenedor principal */
.reset-password-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  gap: 2rem;
}

/* Estilos para el título */
.reset-password-container h2 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Estilos para el formulario */
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estilos para los campos de entrada */
.reset-password-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color var(--transition-time) ease, box-shadow var(--transition-time)ease;
}

.reset-password-form input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 5px rgba(--secondary-color);
  outline: none;
}

/* Estilos para el botón */
.reset-password-form button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all var(--transition-time) ease, transform var(--transition-time) ease;
}

.reset-password-form button:hover {
  background-color: darken(var(--secondary-color), 10%); 
  transform: translateY(-2px); 
}

@media (max-width: 1024px) {
  .reset-password-container {
    flex-direction: column;
    align-items: center;
  }

  .reset-password-container-img,
  .reset-password-form-container {
    width: 100%;
    max-width: 600px;
  }

  .reset-password-container-img {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .reset-password-page {
    padding: 1.5rem 1rem;
  }

  .reset-password-form-container {
    padding: 1.5rem;
  }

  .reset-password-form-container h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .reset-password-page {
    padding: 1rem 0.75rem;
  }

  .reset-password-form-container {
    padding: 1rem;
  }

  .reset-password-form-container h2 {
    font-size: 1.5rem;
  }
}
